html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   color:#333333;
   margin: 0;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
 }
 /* GRID */
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  .container:before,
  .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
  .one-half, .one-third, .one-fourth {
    width:96%;
    float:left;
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    }
  }
  @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
 /* HEADER */
  header {
    color:#FFFFFF;
    background: #5F676B;
  }
  header nav {
    padding:1em 0;
  }
  .header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
  .one-half {
    max-width: 34%;
  }
  header nav ul {
  padding: 10px 15px;
  display: flex;
  float: right;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
 @media (min-width: 639px){
  header nav ul {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  }
 }
  header nav ul > li {
    list-style-type: none;
    display: inline-block;
    margin:0 15px;
  }
  header nav ul > li.btn-outline {
    padding:10px 30px;
    border:2px solid #FFFFFF;
    border-radius: 4px;
    display: inline-table;
  }
  header nav ul > li.btn-outline:hover {
    background:#FFFFFF;
  }
  header nav ul > li > a {
    color:#FFFFFF;
    text-decoration: none;
    display: inline-block;
  }
  header nav ul > li.btn-outline:hover > a {
    color:#34495E;
  }
.dashboard nav {
    top: 0;
}
@media (max-width: 700px) {
  .dashboard nav {
    display: none;
  }
}
.dashboard {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(234, 233, 233) 100%);
    padding-bottom: 60px;
    max-width: 100%;
    overflow-x: hidden;
}
h3, h4, h6 {
    color: 000000;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.dash-nav {
  margin-left: 2%;
  margin-right: 2%;
}

.one-half, .one-third, .one-fourth, .one-fifth {
    width: 96%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
}
.dashboard h1 {
    color: #3f677f;
    height: 30px;
    margin-top: 12px;
}
@media (min-width: 500px){
.dashboard h1 {
    color: #3f677f;
    margin-top: 12px;
    font-size: 28px;
    margin-left: 8px;
  }
}
.dash-menu ul li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #eceaea;
    padding-bottom: 10px;
}
nav ul {
    text-align: center;
    float: center;
    padding: 0;
}
nav ul > li {
    list-style-type: none;
    text-align: center;
    color: #b1b1b1;
}
h1 {
    font-family: 'Roboto Slab', Garamond, serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}
.items li {
  text-decoration: none;
}
.dash-menu ul a {
    font-size: 12px;
    color: #1294ca;
    text-decoration: none !important;
}
.dashboard main {
    top: 38px;
    text-decoration: none !important;
}
@media (max-width: 700px){
.dashboard main {
    top: 0px;
  }
}
main {
    display: block;
    z-index: 1000;
    position: relative;
    top: 85vh;
}
#menu-trigger-items {
  text-decoration: none;
}
nav {
    display: block;
    position: relative;
    z-index: 2000;
    top: 85vh;
}
.dash-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.dash-menu .container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.items-block {
    width: 19.7%;
    height: 57px;
    margin: 0 1px;
}
.items-block ul a {
    color: #5F676B;
    font-size: 12px;
    font-weight: 700;
}
.items-block ul {
    margin-top: 20px;
}
nav ul > a {
    text-decoration: none;
    color: #b1b1b1;
    font-size: 14px;
    letter-spacing: .5px;
    list-style-type: none;
}

.content-item {
    width: 135px;
    height: 135px;
    position: relative;
    display: inline-block;
    margin: 2px;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    box-shadow: 2px 1px 4px 0px #d2d0d0;
    padding: 20px;
    opacity: 0;
    -webkit-transform: scaleY(-1) translateY(-20rem);
    -moz-transform: scaleY(-1) translateY(-20rem);
    transform: scaleY(-1) translateY(-20rem);
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

@media (min-width: 1200px){
.container {
    width: 1170px;
  }
}
.dash-menu ul {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 66px;
}
@media (min-width: 991px){
.container {
    width: 970px;
  }
}
@media (min-width: 700px){
.container {
    width: 700px;
  }
}
.container {
    margin-right: auto;
    position: relative;
    top: 0;
}

.menu-block-items.open, .menu-block-boxes.open, .menu-block-organize.open, .menu-block-acct.open {
    display: inline-block;
    height: auto;
    width: 19.7% !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(0,-3px);
    -webkit-transform: translate(0,-3px);
    -o-transform: translate(0,-3px);
    -moz-transform: translate(0,-3px);
    z-index: 100;
}
.menu-block-blocmarc, .menu-block-items, .menu-block-boxes, .menu-block-organize, .menu-block-acct {
    height: auto;
    width: 19.7% !important;
    margin: 0 1px;
    background: #fff;
    box-shadow: 2px 1px 4px 0px #d2d0d0;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(0,-300px);
      -webkit-transform: translate(0,-600px);
    -o-transform: translate(0,-300px);
    -moz-transform: translate(0,-300px);
}
@media (max-width: 700px) {
  .menu-block-blocmarc, .menu-block-items, .menu-block-boxes, .menu-block-organize, .menu-block-acct {
  display: none;
  }
}
@media (max-width: 700px) {
  .dash-menu ul {
    display: none;
  }
}
.dash-menu ul {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 66px;

}.dash-menu .fa {
    padding-right: 12px;
    font-size: 14px;
    padding-bottom: 0;
}

nav .fa {
    font-size: 31px;
    padding-bottom: 12px;
}
@media (min-width: 991px){
.one-third {
    width: 33.33333%;
  }
}
.dashboard .header {
    width: 100%;
    display: block;
    position: relative;
}
.dropit {
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-nav {
    background: #f2f2f3;
    box-shadow: -2px 1px 4px 0px #d2d0d0;
    width: 200px;
    height: 100vh;
    float: right;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(208px,0);
    -webkit-transform: translate(208px,0);
    -o-transform: translate(208px,0);
    -moz-transform: translate(208px,0);
}
.left-nav {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 57px;
}
.btn-add img {
    box-shadow: 2px 1px 4px 0px #d2d0d0;
    border-radius: 50%;
}

.laptop h1, p, img {
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.favicon {
  width: 20px;
}
.dropit .dropit-submenu {
    position: absolute;
    top: 62%;
    border-radius: 4px;
    right: 0;
    z-index: 1000;
    display: none;
    width: 138px;
    list-style: none;
    padding: 10px;
    margin: 0;
}
.item-box a {
    text-decoration: none;
    font-size: 20px;
    color: #3c3c3b;
}
.btn-browser a {
    width: 124px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: white;
    color: #aa2f23;
    border: 0.5px solid #aa2f34;
    padding: 10px 16px;
    box-shadow: 2px 1px 4px 0px #d2d0d0;
}
#logo-block {
  background: #eeeded00;
  width: 17.8%;
}
.btn {
    border-radius: 4px;
    color: #F6A623;
    font-weight: 700;
    letter-spacing: .5px;
    text-decoration: none;
    padding: 10px 30px;
    background: #ffffff;
    box-shadow: 2px 2px 5px 0px rgba(86, 31, 46, 0.68);
    display: block;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

nav {
  float: left;
    display: block;
    position: relative;
    z-index: 2000;
    top: 85vh;
}

@media (max-width: 730px){
.items-block {
    display: none;
  }
}
@media (max-width: 730px){
#logo-block {
    display: block;
    width: 100%;
}}

@media (max-width: 730px){
#hamburger .fa {
    font-size: 24px;
    color: #fff;
  }
}

nav .fa {
    font-size: 31px;
    padding-bottom: 12px;
}

  h2 {
    font-size: 28px;
    margin-top: 0;
    padding-bottom: 10px;
    color: #40dfda;
    font-weight: normal;
  }

p {
    font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    font-weight: 100;

   }

 a:active {
   color: #00DBDE;
   text-decoration: none;
 }
 .dash-menu ul a:hover {
     color: #f6a623;
 }
 @media (min-width: 620px) {
   h2 {
     color: #40dfda;
     font-size: 28px;
     font-weight: normal;
     margin-bottom: 5px;
     margin-top: 0;
    }
  }
  @media (max-width: 700px) {
    p {
      font-size: 18px;
      line-height: 1em;
      font-weight: 100;
    }
  }
  .intro-triangle {
    background-image: url(../images/intro-back-textcopy1.png);
    background-repeat: no-repeat;
    margin-top: 60px;
    background-size:cover;
    background-position:left center;
  }

  h1.intro {
    color: white;
    margin-top: 40px;
  }
  @media (min-width: 400px) {
  h1.intro {
    color: white;
    margin-top: 80px;
  }
}
@media (min-width: 540px) {
h1.intro {
  margin-top: 220px;
  }
}
  @media (min-width: 700px) {
  h1.intro {
    margin-top: 200px;
    color: white;
  }
}
.skills-list {
    margin-top: 80px;
}
@media (min-width: 1001px){
.skills-list {
    margin-top: 0px;
  }
}
li:hover {
    color: #4ac1bc;
}

/* GRID */
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }

  .one-third.column {
    width:96%;
    float:left;
    position:relative;
    min-height: 1px;
    margin:0 2% 20px;
    }
  }
  @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-third.column {
     width:29.33333%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }


.box {
position: relative;
}
.box .btn {
position:absolute;
bottom:40px;
left:3.5%;
margin-left:15px;
}
@media (min-width: 800px) {
.boximages2{
display: none;
  }
}
@media (min-width: 600px) {
.boximages3 {
  display: none;
  }
}
@media (max-width: 600px) {
.boximages2 {
  display: none;
  }
}
@media (max-width: 800px) {
.boximages {
  display: none;
  }
}
/* BUTTONS */
.btn {
  border-radius: 4px;
  width: 130px;
  text-align: -webkit-center;
  font-weight: 200;
  text-decoration: none;
  font-family: "semplicitapro", Helvetica, Arial, sans-serif;
  margin:auto;
  margin-right: 20px;
  padding: 5px 15px;
  border: 2px solid #F6A623;
  box-shadow: 0px 0.5px 0px 0px #404352;
 }
 a:active.btn {
   background-color: #efa621;
   color: #ffffff;
  }
  a:hover.btn {
    background-color: orange;
    color: #ffffff;
   }
 .btn.blue {
   background-color: #000000;
 }

 @media (min-width: 600px) {
   .btn {
     width: 150px;
     padding: 10px 30px;
   }
 }


.site-bio-example p + p {
  margin-top: 22px;
}
.site-logo img {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -30%);
  padding-left: 20px;
  height: auto;
  align-self: flex-start;
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 140px;
 }
@media (min-width: 550px) {
.site-logo img {
   max-width: 140px;
   padding-left: 20px;
   height: auto;
   align-self: flex-start;
   display: inline-flex;
   margin-right: auto;
   margin-left: auto;
 }
}
@media (min-width: 750px) {
  header .site-logo img {
    margin-top: 0px;
    padding-top: 0px;
  }
}

  /*header*/
  .site-logo {
    margin-top: 0px;
    position: relative;
    margin: 0px 10px 10px 5px;
  }
}
.site-logo {
  padding-top: 10px;
  margin-bottom: 8px;
}

 /* HEADER */

 .left-nav-site-logo{
   background-color: black;
   padding-top: 8px;
   padding-left: 23px;
   padding-right: 127px;
   padding-bottom: 8px;
   max-width: 190px;
 }
.header {
  border-bottom: 2px solid #3333330a;
  height: 60px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
  z-index: 1;
  display: flex!important;
  justify-content: space-between;
}
.nav-up {
  top: -65px;
}
header nav ul {
  display: none;
}
@media (min-width: 750px){
  header nav ul {
  transform: translate(0, 30%);
  float: right;
  padding: 10px 10px;
  margin: 0 auto;
  margin-right: 55px;
  align-items: center;
  z-index: 100;
  display: inline-flex;
  letter-spacing: 1px;
  }
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
  position: relative;
  z-index: 1;
}


footer {
  max-width: 1450px;
  margin: 0 auto;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px 0px #DBDADA;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
@media (min-width: 460px) {
  footer {
  color: #888d9c;
  height: 100px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  }
}
footer nav ul li a {
  color:#888d9c;
  text-decoration: none;
}

 /* DASHBOARD */
 .dashboard {
   background:#F7F7F7;
 }
 /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.item-box > img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
}
.item-box {
    display: block;
    height: 230px;
    background: #FFFFFF;
    overflow: hidden;

}

.side-menu h4 {
    color: #aa1f23;
    font-size: 12px;
    font-weight: 700;
    padding-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 650px){
.content-item {
    width: 117px;
    height: 117px;
    padding: 14px;
    margin: 6px;
  }
}
@media (max-width: 730px){
.content-item {
    width: 101px;
    height: 101px;
}}
@media (max-width: 990px){
.content-item {
    width: 117px;
    height: 117px;
  }
}
@media (max-width: 420px){
.container.slot{
  width: 320px;
  }
}
@media (min-width: 420px){
.container.slot{
  width: 350px;
  }
}
@media (min-width: 490px){
.container.slot{
  width: 350px;
  }
}
@media (min-width: 550px){
.container.slot {
  width: 500px;
  }
}
@media (min-width: 680px){
.container.slot{
  width: 700px;
  }
}

@media (min-width: 1000px){
.container.slot{
  width: 1000px;
  }
}
@media (max-width: 990px){
style.css:1793
.content-item {
    width: 117px;
    height: 117px;
}}
@media (min-width: 991px){
style.css:106
.container {
    width: 970px;
}}

@media (min-width: 700px){
style.css:91
.container {
    width: 700px;
}}

.side-nav.open {
    width: 200px;
    height: 100vh;
    display: block;
    padding-bottom: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    z-index: 100;
}

.side-nav {
    background: #f2f2f3;
    box-shadow: -2px 1px 4px 0px #d2d0d0;
    width: 200px;
    height: 100vh;
    float: right;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(208px,0);
    -webkit-transform: translate(208px,0);
    -o-transform: translate(208px,0);
    -moz-transform: translate(208px,0);
 }

 .hamburger {
   display: block;
 }

.hamburger {
position: absolute;
 z-index: 20000;
 color: #3e667f;
 text-decoration: none;
 font-size: 22px;
 padding-right: 20px;
 border-radius: 4px;
 right: 0;
 float: right;
 top: -55px;
}
@media (min-width: 730px) {
.hamburger {
  display: none;
  }
}
.left-nav .site-logo {
  padding:20px 0;
  background:#5F676B;
  display:block;
  text-align: center;
}
.left-nav .items {
  padding:0 6%;
}
.left-nav .site-logo img {
  max-width: 70%;
}
   @media (min-width: 620px) {
    .left-nav .site-logo img {
      max-width: 1000%;
  }
}
.left-nav .items p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #E2E2E2;
  line-height: 15px;
}
.left-nav .items .active {
  margin-bottom: 40px;
  padding:0;
}
.left-nav .items ul {
  margin-bottom:0 0 40px;
  padding:0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}
.left-nav .items ul li a {
  color:#FFFFFF;
  text-decoration: none;
  font-weight: 100;
}
.left-nav .items ul li a i {
  width:16px;
  text-align: center;
  margin-right:8px;
}
.items .active {
 color:#FFFFFF;
 background-color: #50E3C2;
}
.fa-th-large:before {
 padding-right: 8px;
}
/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  position:absolute;
  background:#474F52;
  width:100%;
  bottom:0;
  left:0;
  right:0;
  padding:10px 0;
}
.left-nav .settings img {
  height:35px;
  width:35px;
  border-radius: 50%;
  margin-left:10px;
}
.left-nav .settings p {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin:0 0 0 10px;
  color: #FFFFFF;
}
.left-nav .settings a {
  color:#FFFFFF;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right:10px;
  margin-top:8px;
}
.left-nav .settings .settings-menu a {
  color:#FFFFFF;
  text-decoration: none;
  text-align: left;
  float: left;
  margin-left:30px;
  margin-top:8px;
}
.left-nav .items .active {
  margin-bottom: 10px;
  margin-left: -3px;
  padding: 5px;
  display: inline-block;

}
.dash-menu .blocmarc-box {
    width: 16px;
    display: inline-block;
    margin-right: 10px;
}
#email img {
    margin-bottom: 5px;
}
